<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <bean id="student"
          class="com.lzg.spring.assemble.Student">
        <property name="age" value="12" />
        <property name="name" value="king" />
    </bean>


<!--    <bean id="user"-->
<!--          class="com.lzg.spring.assemble.javaconfig.User">-->
<!--        <property name="password" value="123456" />-->
<!--        <property name="username" value="lzg" />-->
<!--    </bean>-->


<!--    自动化装配：组件扫描-->
    <context:component-scan base-package="com.lzg.spring.assemble" />
    


    
    
</beans>